<h2>About Us</h2>

<p>
  <strong>Attorneys For Court</strong> is the d/b/a of Law Office of Jorg M. Rivera, P.A.</p>
  <p>
  Attorney Rivera graduated from Barry University School of Law in
  Orlando, Florida and received a Juris Doctorate degree. He is a member
  of the Florida Bar and practices primarily in the area of Small Claims
  Court representation, having appeared and provided representation on
  behalf of clients in over 1,000 Small Claim Court hearings.
</p>

<p>
  Contact <strong>Attorneys For Court today</strong> to represent you in your small claims
  court matter.
</p>