<h2>Contact Us</h2>

<p>Contact <strong>Attorneys For Court</strong> today at <strong>(321) 206-8108</strong> or fill out our online contact form.</p>

<form method="post" action="/contact" id="contact_form">
  <div class="form_row">
    <div class="form_label">
      <label for="name">Name</label>
    </div>
    <div class="form_field">
      <input type="text" name="name" id="name" maxlength="50" size="20" class="required" />
    </div>
  </div>

  <div class="form_row">
    <div class="form_label">
      <label for="email">Email</label>
    </div>
    <div class="form_field">
      <input type="text" name="email" id="email" maxlength="50" size="20" class="required email" />
    </div>
  </div>

  <div class="form_row">
    <div class="form_label">
      <label for="phone">Phone</label>
    </div>
    <div class="form_field">
      <input type="text" name="phone" id="phone" maxlength="20" size="20" class="required phone" />
    </div>
  </div>

  <div class="form_row">
    <div class="form_label">
      <label for="county">County</label>
    </div>
    <div class="form_field">
      <input type="text" name="county" id="county" maxlength="20" size="20" />
    </div>
  </div>

  <div class="form_row">
    <div class="form_label">
      <label for="date">Pre-Trial Conference/Mediation or Trial Date</label>
    </div>
    <div class="form_field">
      <input type="text" name="date" id="date" maxlength="50" size="20" class="date" />
    </div>
  </div>

  <div class="form_row">
    <div class="form_label">
      <label for="summary">Summary of Small Claims Case</label>
    </div>
    <div class="form_field">    
      <textarea name="summary" id="summary" rows="5" cols="50"></textarea>
    </div>
  </div>
  
  <div class="form_row">
    <div class="form_label">&nbsp;
    </div>
    <div class="form_field">    
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
    </div>
  </div>
  
</form>