<div class="headlines">
  <p>
    Did you already file your small claims court case?
  </p>
  <p>
    Are you familiar with the rules of evidence and civil procedure that
    apply to small claims court?
  </p>
  <p>
    Do you need assistance in court with your small claims case?
  </p>
  <p>
    <strong>Attorneys For Court</strong> is ready to help.
  </p>
</div>

<div id="prices">
  <p>
    <strong>Attorneys For Court</strong> has simple flat fees for court representation.
  </p>

  <div class="price_block">
    <div class="price">
      $125.00
    </div>
    <div class="description">
      Provides an attorney to appear with you on your behalf at your
      scheduled pre-trial conference/mediation.
    </div>
  </div>

  <div class="price_block">
    <div class="price">
      $175.00
    </div>
    <div class="description">
      If your matter isn't resolved and set for trial, provides an attorney to appear at your scheduled trial to represent
      you to the conclusion of the small claims trial.
    </div>
  </div>
</div>

<div class="info">
  <p>
    <strong>Attorneys For Court</strong> provides clients with the ability to deal with their
    small claims court matters in a cost effective and professional manner.    
  </p>
  <p>
    Contact us today and receive a <strong>free</strong> five minute consultation regarding
    your small claims court case.
  </p>
</div>