<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    Attorneys for Court :: SmallClaimsCourtLawyer.com
  </title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/default.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="main_container">
    <div id="header">
      <div id="logo">
        <h1>SmallClaimsCourtLawyer.com</h1>
      </div>
      <div id="contact_info">
        Contact us today:<br />
        Phone (321) 206-8108<br />
        Fax (866) 835-1161
      </div>
    </div>
    <div id="tabs_container">
        <div class="tab">
          <a href="/">Home</a>
        </div>
        <div class="tab">
          <a href="/about">About Us</a>
        </div>
        <div class="tab">
          <a href="/payments">Get Started / Payments</a>
        </div>
        <div class="tab last">
          <a href="/contact">Contact</a>
        </div>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <div id="footer_info">
        Attorneys For Court is the DBA of Law Office of Jorg M. Rivera, P.A.<br />
        <strong>Email</strong> <a href="EMAIL" id="contact_email_link">EMAIL</a><br />
        <strong>Phone</strong> (321) 206-8108<br />
        <strong>Fax</strong> (866) 835-1161        
      </div>
      <div id="footer_copyright">
        <p>
          The information in this website is not nor is it intended to be legal
          advice. Hiring of an attorney is an important decision which should not
          be based on advertising. You are invited to contact our office for
          additional information and references and we welcome your call.
          Contacting us does not create an attorney-client relationship. Before
          you decide, ask our office to send you free information about
          qualifications and experience.
        </p>
        <p>
          Copyright &copy; 2009 SmallClaimsCourtLawyer.com
        </p>        
      </div>
    </div>
  </div>
</body>
</html>