<h2>
  Get Started / Payments
</h2>
<p>
  <strong>Attorneys For Court</strong> has a simple two step process to get your matter started:
</p>
<h3>
  Step 1
</h3>
<p>
  Fax to <strong>Attorneys For Court</strong> at <strong>(866) 835-1161</strong> the following documents:
</p>
<ol>
  <li>Completed <strong>Attorneys For Court</strong> representation agreement. (Print, Fill out and Sign)
    <ul>
      <li>Pre-Trial Conference/Mediation Representation Agreement (<a href="/afc_agreement_ptcmed.pdf">download here</a>)
      </li>
      <li>Small Claims Trial Representation Agreement (<a href="/afc_agreement_trial.pdf">download here</a>)
      </li>
    </ul>
  </li>
  <li>A copy of all court documents either received or filed.
  </li>
  <li>A copy of all relevant documents pertaining to the small claims court case.
  </li>
</ol>
<h3>
  Step 2
</h3>
<p>
  Payment for representation ($125 for Pre-Trial/Mediation Appearance or $175 for Trial Appearance)
</p>
<p>
  <strong>Attorneys For Court</strong> uses secure PayPal to process payments online. Call <strong>(321) 206-8108</strong> for other payment options.
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick" /><input type="hidden" name="hosted_button_id" value="7861835" />
  <input type="hidden" name="on0" value="Select Appearance Representation (Non-Refundable)" />
  <div class="form_row">
    <div class="form_label">
      <label for="os0">Select Appearance Representation (Non-Refundable)</label>
    </div>
    <div class="form_field">    
      <select name="os0">
        <option value="PRETRIAL/MEDIATION">
          PRETRIAL/MEDIATION $125.00
        </option>
        <option value="TRIAL">
          TRIAL $175.00
        </option>
      </select>
      <br /><br />
      <input type="hidden" name="currency_code" value="USD" /><input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" /><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </div>
  </div>
</form>
